# Question 2: 
For this question youâ€™ll need to use SQL. [Follow this link](https://www.w3schools.com/SQL/TRYSQL.ASP?FILENAME=TRYSQL_SELECT_ALL) to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

## a) How many orders were shipped by Speedy Express in total?

### SQL Query :-

    SELECT COUNT(*) FROM Orders AS O
    JOIN Shippers AS S
    ON S.ShipperID == O.ShipperID
    WHERE S.ShipperName == "Speedy Express"
    
Provided we know the shipperid

    SELECT count(*) FROM Orders
    where ShipperID == 1

### Answer :- 
54 Orders were shipped by speedy express.

## b) What is the last name of the employee with the most orders?

### SQL QUERY

    SELECT LastName, count(E.EmployeeID) as orders 
    FROM Orders AS O
    LEFT JOIN Employees AS E
    ON E.EmployeeID == O.EmployeeID
    GROUP BY E.EmployeeID
    ORDER BY orders DESC
    LIMIT 1


### Answer
Employee with the last name as "Peacock" is the one with most orders i.e. 40.

## c) What product was ordered the most by customers in Germany?

### SQL QUERY

    WITH extracted_data as (
    SELECT p.ProductID, p.ProductName, c.CustomerID, c.Country, od.OrderID, od.Quantity
    FROM OrderDetails AS od
    
    LEFT JOIN Orders AS o
    ON od.OrderID == o.OrderID
    
    LEFT JOIN Customers as c
    ON o.CustomerID == c.CustomerID
    
    LEFT JOIN Products AS p
    ON p.ProductID == od.ProductID)

If we are measuring the most ordered product based on total orders then we do:-

    SELECT ProductName, COUNT(*) AS Ordered_Quantity 
    FROM extracted_data
    WHERE Country == "Germany"
    GROUP BY ProductName
    ORDER BY Ordered_Quantity DESC
    LIMIT 1
    
If we are measuring the most ordered product based on total quantity then we do:-

    SELECT ProductName, COUNT(*) AS Ordered_Quantity, SUM(Quantity) as Total_Quantity
    FROM extracted_data
    WHERE Country == "Germany"
    GROUP BY ProductName
    ORDER BY Total_Quantity DESC
    LIMIT 1

### Answer
- If we are measuring the most ordered product based on total orders then the answer is "**Gorgonzola Telino** being ordered in 5 orders"
- If we are measuring the most ordered product based on total quantity then the answer is "**Boston Crab Meat** with total quantity ordered as 160"